body {
  margin: 0;
  font-family: Arial;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  background: white;
  padding: 25px;
  width: 280px;
  border-radius: 8px;
  box-shadow: 0 0 10px gray;
  text-align: center;
}

.form input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}

.form button {
  width: 100%;
  padding: 8px;
  background-color: green;
  color: white;
  border: none;
}
.forgot {
  margin-top: 15px;
  color: blue;
  cursor: pointer;
  font-size: 14px;
}

.forgot:hover {
  text-decoration: underline;
}