.forgot{
    font-size:10px;
    color:black;
    text-decoration: none;
}
.forgot:hover{
    color:#3681D7;
    text-decoration:underline;
    cursor:crosshair;
    font-size:large;
}
button{
    color:rgb(17, 118, 206);
    width:5%;
    border:none;
    background-color:rgb(255, 89, 0) ;
    border-radius: 5px;
}
button{
    border-radius: 15px;
}
.login-card{
    border:1px solid rgb(208, 207, 207);
    width: 30%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.form-control{
    display: flex;
    flex-direction: column;
}
input{
    height: 30px;
    width: 70%;
    border-radius: 10px;
}
